.container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon {
  font-size: 32px;
  color: #666;

  @media (min-width: 768px) {
    font-size: 40px;
  }

  @media (min-width: 1440px) {
    font-size: 52px;
  }
}

.title {
  font-size: 32px;

  @media (min-width: 768px) {
    font-size: 40px;
  }

  @media (min-width: 1440px) {
    font-size: 52px;
  }
}
